
body {
  font-family: sans-serif;
  background-color: #efefef;
}
section {
  padding-top: 50px;
}

.wrapper {
  padding: 30px 40px;
  margin: 0px auto;
  border-width: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  width: 50rem;
}

header {
  
    background-color: #333;;
    background-color: #4e3172;
    overflow: hidden;
}

.button {
    background-color: #482c68;
    font-size: 20px;
    height: 40px;
    color: white;
}


.choice {
  padding-top: 10px;
  text-align: left;
  font-family: sans-serif;
  font-size: 20px;
}
#result {
  color: gray;
  margin-top: 30px;
  font-size: 20px;
}

.header {
   overflow: hidden;
  height: 125px;
  background-color: #4e3172;
}
#view-highscores {
  float: left;
  color: #f2f2f2;
} 
.header .title {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}


.header a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 17px;
  text-align: right;
  text-decoration: none;
}

.header a:hover {
  color: white;
  background-color: green;
  border-radius: 25px;
  border: 2px solid #1e5294;
}
.header a.active {
    background-color: #1e5294;
  color : white;
  border-radius: 25px;
  border: 2px solid #1e5294;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
#gameover {
  text-align: center;
}
#row {
  text-align: left;
  border-bottom: 1px solid lightgray;
  color: black;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #efe7f9;
  padding: 10px;
}
#choice-label {
  padding-left: 10px;
}
.score {
  font-weight: bold;
}
