/**************************** General CSS ****************************/

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body {
  font-family: sans-serif;
  background-color: #efefef;
}
/*--------------------------------------------------------------
# Header/Navbar
--------------------------------------------------------------*/
header {
  overflow: hidden;
  background-color: #482c68;
}
#nav-title {
  text-align:center;
  color: whitesmoke;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font: x-large;
}

.navbar-nav  a {
  float: left;
  color: #f2f2f2;
  font-size: 17px;
  text-align: right;
  font-style: italic;
  text-decoration: none;
}

.navbar-nav > .active {
  background-color: rgb(156, 97, 151);
  color : white;
  border-radius: 25px;
  border: 2px solid #010002;
}
.navbar-nav > a:hover {
  color : white;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  margin-top: 5px;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section {
  margin-bottom: 12%;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: gray;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #252729;
 }
/*--------------------------------------------------------------
# Common CSS
--------------------------------------------------------------*/
.container {
  padding: 30px 40px;
  margin: 0px auto;
  border-width: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 5px 5px 5px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  width: 50em;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}
.container h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.container h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

.container p {
    text-align: left;

}
button {
  background-color: #482c68;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 30px;
  border-radius: 8px;
  border-width: 2px;
  text-align: center;
}
.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
/************************* Page wise CSS******************************/

/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
#instruction  ul {
  color: rebeccapurple;
  text-align: left;
  font-style: italic;
  list-style-type: disc;
  margin-left: 0px;
  padding-top: 10px;
  color: rebeccapurple;
  font-size: 17px;
}
.startbutton-container {
  width: 50rem;
  display: flex;
  justify-content: center;
}
/*--------------------------------------------------------------
# Quiz page
--------------------------------------------------------------*/
#question-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 500;
}

#questionNo {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
#choice-button {
  height:15px; 
  width:15px;
  padding-top: 15px;
}
#choice-label {
  padding-left: 10px;
  width:80%;
  word-wrap:break-word;
  vertical-align: top;
}
#result {
  margin-top: 10px;
  color: gray;
  background: lightgray;
  font-size: 20px;
  height: 1px;
  display: flex;
  justify-content: space-between;
}

#warning {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  width: 100%;
  margin-top: 10px;
  visibility: hidden;
}
.warning-text {
  color: gray;
  padding-top: 20px;
}
#timeRemaining {
  margin: 5px;
  padding:10px;
  color : whitesmoke;
  background-color: #1e5294;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 25px;
  border: 2px solid #010002;
}
#timeRemaining-mobile {
  margin: 5px;
  padding:10px;
  color : whitesmoke;
  background-color: #1e5294;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 25px;
  border: 2px solid #010002;
}
@media only screen and (max-width: 420px) {
   
    .container-button {
      margin-bottom: 11%;
    }
    .container {
      width: 100%;
    }
    .footer {
      height: 10%;  
      background-color: rebeccapurple; 
    }
}
/*--------------------------------------------------------------
# Game Over page
--------------------------------------------------------------*/
.score {
  font-weight: bold;
}


/*--------------------------------------------------------------
# View High-score page
--------------------------------------------------------------*/
#view-highscores {
  float: left;
  color: #f2f2f2;
} 
#row {
  text-align: left;
  border-bottom: 2px solid lightgray;
  font-size: 18px;
  background-color: #efe7f9;
  padding: 10px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 /*********************************************************************/










































